@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #05AFF2;
  --color-background: #F0F5F9;
  --color-error: hsl(0, 100%, 67%)
}


body {
  color: rgb(var(--color-primary));
  background-color: var(--color-background)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
