@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #05AFF2;
  --color-background: #F0F5F9;
  --color-error: hsl(0, 100%, 67%)
}

.botao-teste{
  @apply mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2;
  @apply text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto
}

body {
  color: rgb(var(--color-primary));
  background-color: var(--color-background)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
