@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #05AFF2;
  --color-background: #F0F5F9;
  --color-error: hsl(0, 100%, 67%)
}


.botao-primary{

  @apply bg-primary-100 p-3 rounded-lg font-extrabold mt-4 text-white text-center px-7

}

.botao-cancel{
  @apply mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2;
  @apply text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto
}

.botao-reset{
  @apply mt-2 mb-4 inline-flex w-full justify-center rounded-md  focus:outline-none bg-primary-100 px-6 py-2 lg:ml-3 xl:ml-3 ;
  @apply text-sm font-semibold text-white hover:bg-primary-100 sm:w-auto
}

.botao-danger{
  @apply mt-4 mb-4 inline-flex w-full justify-center  focus:outline-none rounded-md bg-red-500 px-6 py-2 lg:ml-3 xl:ml-3 ;
  @apply text-sm font-semibold text-white shadow-sm hover:bg-red-400 sm:ml-3 sm:w-auto
}
.botao-primary-modal{
  @apply inline-flex w-full justify-center rounded-md focus:outline-none bg-primary-100 px-3 py-2 ;
  @apply text-sm font-semibold text-white shadow-sm focus:outline-none hover:bg-sky-400 sm:ml-3 sm:w-auto
}


body {
  color: rgb(var(--color-primary));
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
